[bumpversion]
current_version = 0.1.1-dev
commit = True
tag = True
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\-(?P<release>[a-z]+))?
serialize = 
	{major}.{minor}.{patch}-{release}
	{major}.{minor}.{patch}

[bumpversion:part:release]
optional_value = gamma
values = 
	dev
	gamma

[bumpversion:file:pytest_localstack/_version.py]
search = __version__ = '{current_version}'
replace = __version__ = '{new_version}'

