[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {path = ".", extras = ["test"], editable = true}

[dev-packages]
advbumpversion = "*"
black = "*"
docutils = "*"
isort = "*"
pygments = "*"
recommonmark = "*"
sphinx = "*"
sphinx-autobuild = "*"
twine = "*"
wheel = "*"

[pipenv]
allow_prereleases = true
