[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"ab7dc8" = {path = ".", editable = true, extras = ["test"]}


[dev-packages]

docutils = "*"
bumpversion = "*"
"flake8" = "*"
"flake8-debugger" = "*"
"flake8-docstrings" = "*"
"flake8-isort" = "*"
isort = "*"
pygments = "*"
recommonmark = "*"
sphinx = "*"
sphinx-autobuild = "*"
twine = "*"
wheel = "*"
